{
  "extends": "airbnb",
  "rules": {
    "indent": 2,
    "react/jsx-filename-extension": "off",
    "no-restricted-syntax": "off",
    "arrow-parens": "off",
    "react/forbid-prop-types": "warn"
  },
  "globals": {
    "describe": true,
    "it": false,
    "beforeEach": true,
    "before": true,
    "xit": false,
    "afterEach": true,
    "mountWithIntl": true,
    "shallowWithIntl": true,
    "document": true,
  }
}
