/* Grid */
.container {
  max-width:100%;
  margin: auto;
  display: block;
  padding: 18px;
}
/* Medium Up */
@media(min-width:600px) {
  .container {
    max-width: 970px;
  }
}
.search-input {
  display:block;
  width:100%;
  padding:15px 55px 15px 15px;

  color:#3b3a3c;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  font-size:30px;
  background-image:url(../search.svg);
  background-position: right 20px center;
  background-size: 25px;
  background-repeat:no-repeat;
  border:1px solid #d0d0d1;

  &:focus {outline:none;}
}
